@import "tailwindcss";

/* body{
  background-image: url("/bg.png");
  background-repeat:no-repeat;
  background-size: cover;
  height:1500px;
  overflow-y:auto;
} */

/* body{ */
  /* background-image:url("/image.png"); */
  /* background-repeat:no-repeat; */
  /* background-size:contain; */
/* } */